### Database - Extra Data Excel file

In [1]:
# make sure you download relevant dependancies and libraries, feel free to comment this cell out, or not run at all, after you have all the three depedancies installed
%pip install global-land-mask
%pip install pandas
%pip install numpy

Requirement already satisfied: global-land-mask in ./.venv/lib/python3.12/site-packages (1.0.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in ./.venv/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.12/site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in ./.venv/lib/python3.12/site-packages (2.1.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

fields = ['Id', 'Family Id (Family)', 'Snapshot Number', 'Longitude', 'Latitude', 'Age', 'Time Total Survey (In minutes)']
filename = 'database - extra data'
df = pd.read_excel(f'{filename}.xlsx', usecols=fields)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 657132 entries, 0 to 657131
Data columns (total 7 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Id                              657130 non-null  float64
 1   Family Id (Family)              657083 non-null  float64
 2   Longitude                       656674 non-null  object
 3   Latitude                        656674 non-null  object
 4   Snapshot Number                 657130 non-null  float64
 5   Age                             652018 non-null  float64
 6   Time Total Survey (In minutes)  427036 non-null  float64
dtypes: float64(5), object(2)
memory usage: 35.1+ MB

In [4]:
df.sort_values(by=['Family Id (Family)', 'Snapshot Number', 'Age'], inplace=True, ignore_index=True)
df

,Id,Family Id (Family),Longitude,Latitude,Snapshot Number,Age,Time Total Survey (In minutes)
0,211.0,18.0,-1.4634227249421201,54.92969382038777,1.0,24.0,NaN
1,212.0,21.0,-1.5088809576366202,54.96527230442477,1.0,24.0,NaN
2,213.0,22.0,-1.617649,54.979645,1.0,25.0,NaN
3,214.0,23.0,-1.4308760574569988,54.97404407827577,1.0,23.0,NaN
4,215.0,24.0,-1.6635228207817363,54.9703592768703,1.0,48.0,NaN
...,...,...,...,...,...,...,...
657127,25760.0,NaN,NaN,NaN,2.0,80.0,NaN
657128,25752.0,NaN,NaN,NaN,2.0,81.0,NaN
657129,25795.0,NaN,NaN,NaN,3.0,46.0,NaN
657130,NaN,NaN,NaN,NaN,NaN,52.0,NaN
657131,NaN,NaN,NaN,NaN,NaN,52.0,NaN

In [5]:
# add the flag column to keep track of flagged cases
# False means the survey is not flagged, and True means the survey is flagged for one of the reasons discussed in the Summary Report
df['flagged for invalid entries'] = False
df['reason(s) for invalid entries'] = ''
df

,Id,Family Id (Family),Longitude,Latitude,Snapshot Number,Age,Time Total Survey (In minutes),flagged for invalid entries,reason(s) for invalid entries
0,211.0,18.0,-1.4634227249421201,54.92969382038777,1.0,24.0,NaN,False,
1,212.0,21.0,-1.5088809576366202,54.96527230442477,1.0,24.0,NaN,False,
2,213.0,22.0,-1.617649,54.979645,1.0,25.0,NaN,False,
3,214.0,23.0,-1.4308760574569988,54.97404407827577,1.0,23.0,NaN,False,
4,215.0,24.0,-1.6635228207817363,54.9703592768703,1.0,48.0,NaN,False,
...,...,...,...,...,...,...,...,...,...
657127,25760.0,NaN,NaN,NaN,2.0,80.0,NaN,False,
657128,25752.0,NaN,NaN,NaN,2.0,81.0,NaN,False,
657129,25795.0,NaN,NaN,NaN,3.0,46.0,NaN,False,
657130,NaN,NaN,NaN,NaN,NaN,52.0,NaN,False,
657131,NaN,NaN,NaN,NaN,NaN,52.0,NaN,False,

In [6]:
# flag surveys that are geographically misplaced

df['Latitude'] = df['Latitude'].str.replace(',','.')
df['Longitude'] = df['Longitude'].str.replace(',','.')
df['invalid latitude value'] = False
df['invalid longitude value'] = False

index = 0
while index < len(df):
    try:
        df.at[index, 'Latitude'] = float(df.at[index, 'Latitude'])
    except:
        latitude = df.at[index, 'Latitude']
        df.at[index, 'flagged for invalid entries'] = True
        if (df.at[index, 'reason(s) for invalid entries'] == ''):
            df.at[index, 'reason(s) for invalid entries'] += (f'could not convert latitude value of {latitude} to float')
        else:
            df.at[index, 'reason(s) for invalid entries'] += (f', could not convert latitude value of {latitude} to float')
    
    try:
        df.at[index, 'Longitude'] = float(df.at[index, 'Longitude'])
    except:
        longitude = df.at[index, 'Longitude']
        df.at[index, 'flagged for invalid entries'] = True
        if (df.at[index, 'reason(s) for invalid entries'] == ''):
            df.at[index, 'reason(s) for invalid entries'] = (f'could not convert longitude value of {longitude} to float')
        else:
            df.at[index, 'reason(s) for invalid entries'] += (f', could not convert longitude value of {longitude} to float')

    index = index + 1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 657132 entries, 0 to 657131
Data columns (total 11 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Id                              657130 non-null  float64
 1   Family Id (Family)              657083 non-null  float64
 2   Longitude                       656674 non-null  object
 3   Latitude                        656673 non-null  object
 4   Snapshot Number                 657130 non-null  float64
 5   Age                             652018 non-null  float64
 6   Time Total Survey (In minutes)  427036 non-null  float64
 7   flagged for invalid entries     657132 non-null  bool
 8   reason(s) for invalid entries   657132 non-null  object
 9   invalid latitude value          657132 non-null  bool
 10  invalid longitude value         657132 non-null  bool
dtypes: bool(3), float64(5), object(3)
memory usage: 42.0+ MB

In [8]:
df

,Id,Family Id (Family),Longitude,Latitude,Snapshot Number,Age,Time Total Survey (In minutes),flagged for invalid entries,reason(s) for invalid entries,invalid latitude value,invalid longitude value
0,211.0,18.0,-1.463423,54.929694,1.0,24.0,NaN,False,,False,False
1,212.0,21.0,-1.508881,54.965272,1.0,24.0,NaN,False,,False,False
2,213.0,22.0,-1.617649,54.979645,1.0,25.0,NaN,False,,False,False
3,214.0,23.0,-1.430876,54.974044,1.0,23.0,NaN,False,,False,False
4,215.0,24.0,-1.663523,54.970359,1.0,48.0,NaN,False,,False,False
...,...,...,...,...,...,...,...,...,...,...,...
657127,25760.0,NaN,NaN,NaN,2.0,80.0,NaN,False,,False,False
657128,25752.0,NaN,NaN,NaN,2.0,81.0,NaN,False,,False,False
657129,25795.0,NaN,NaN,NaN,3.0,46.0,NaN,False,,False,False
657130,NaN,NaN,NaN,NaN,NaN,52.0,NaN,False,,False,False
657131,NaN,NaN,NaN,NaN,NaN,52.0,NaN,False,,False,False

In [9]:
from global_land_mask import globe
# global_land_mask library credit: Karin, Todd. Global Land Mask. October 5, 2020. https://doi.org/10.5281/zenodo.4066722

df['is land'] = True
index = 0
while index < len(df):
    if (not df.at[index, 'flagged for invalid entries']):
        latitude = df.at[index, 'Latitude']
        longitude = df.at[index, 'Longitude']
        if (longitude <= 180) and (longitude >= -180):
            if (latitude <= 90) and (latitude >= -90):
                try:
                    is_ocean = globe.is_ocean(latitude, longitude)
                    if (is_ocean):
                        df.at[index, 'flagged for invalid entries'] = True
                        df.at[index, 'is land'] = False
                        if (df.at[index, 'reason(s) for invalid entries'] == ''):
                            df.at[index, 'reason(s) for invalid entries'] += (f'({latitude}, {longitude}) value is in ocean')
                        else:
                            df.at[index, 'reason(s) for invalid entries'] += (f', ({latitude}, {longitude}) value is in ocean')
                except:
                    df.at[index, 'flagged for invalid entries'] = True
                    if (df.at[index, 'reason(s) for invalid entries'] == ''):
                        df.at[index, 'reason(s) for invalid entries'] += (f'error identifying whether the ({latitude}, {longitude}) values pair is on water or land')
                    else:
                        df.at[index, 'reason(s) for invalid entries'] += (f', error identifying whether the ({latitude}, {longitude}) values pair is on water or land')
            else:
                df.at[index, 'flagged for invalid entries'] = True
                if (df.at[index, 'reason(s) for invalid entries'] == ''):
                    df.at[index, 'reason(s) for invalid entries'] += (f'latitude value of {latitude} out of range [-90, 90]')
                else:
                    df.at[index, 'reason(s) for invalid entries'] += (f', latitude value of {latitude} out of range [-90, 90]')
        else:
            df.at[index, 'flagged for invalid entries'] = True
            if (df.at[index, 'reason(s) for invalid entries'] == ''):
                df.at[index, 'reason(s) for invalid entries'] += (f'longitude value of {longitude} out of range [-180, 180]')
            else:
                df.at[index, 'reason(s) for invalid entries'] += (f', longitude value of {longitude} out of range [-180, 180]')
    
    index = index + 1

In [10]:
df

,Id,Family Id (Family),Longitude,Latitude,Snapshot Number,Age,Time Total Survey (In minutes),flagged for invalid entries,reason(s) for invalid entries,invalid latitude value,invalid longitude value,is land
0,211.0,18.0,-1.463423,54.929694,1.0,24.0,NaN,False,,False,False,True
1,212.0,21.0,-1.508881,54.965272,1.0,24.0,NaN,False,,False,False,True
2,213.0,22.0,-1.617649,54.979645,1.0,25.0,NaN,False,,False,False,True
3,214.0,23.0,-1.430876,54.974044,1.0,23.0,NaN,False,,False,False,True
4,215.0,24.0,-1.663523,54.970359,1.0,48.0,NaN,False,,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
657127,25760.0,NaN,NaN,NaN,2.0,80.0,NaN,True,"longitude value of nan out of range [-180, 180]",False,False,True
657128,25752.0,NaN,NaN,NaN,2.0,81.0,NaN,True,"longitude value of nan out of range [-180, 180]",False,False,True
657129,25795.0,NaN,NaN,NaN,3.0,46.0,NaN,True,"longitude value of nan out of range [-180, 180]",False,False,True
657130,NaN,NaN,NaN,NaN,NaN,52.0,NaN,True,"longitude value of nan out of range [-180, 180]",False,False,True
657131,NaN,NaN,NaN,NaN,NaN,52.0,NaN,True,"longitude value of nan out of range [-180, 180]",False,False,True

In [11]:
if False in df['is land'].values:
    is_ocean_count = df['is land'].value_counts()[False]
else:
    is_ocean_count = 0
total_count = len(df)
print(f'number of geographically misplaced survey locations is {is_ocean_count} out of {total_count} entries')
is_ocean_percentage = round((is_ocean_count / total_count) * 100, 2)
print(f'percentage geographically misplaced survey locations is {is_ocean_percentage}% out of {total_count} entries')

number of geographically misplaced survey locations is 21449 out of 657132 entries
percentage geographically misplaced survey locations is 3.26% out of 657132 entries

In [12]:
index = 0
while index < len(df):
    try:
        df.at[index, 'Age'] = float(df.at[index, 'Age'])
    except:
        age = df.at[index, 'Age']
        df.at[index, 'flagged for invalid entries'] = True
        if (df.at[index, 'reason(s) for invalid entries'] == ''):
            df.at[index, 'reason(s) for invalid entries'] += (f'could not convert age value of {age} to float')
        else:
            df.at[index, 'reason(s) for invalid entries'] += (f', could not convert age value of {age} to float')
    index = index + 1

In [16]:
# flag surveys that are answered by children under 14 
df.loc[df['Age'] < 14, 'flagged for invalid entries'] = True
df['invalid age value'] = False
df.loc[df['Age'] < 14, 'invalid age value'] = True
df.loc[(df['Age'] < 14) & (df['reason(s) for invalid entries'] == ''), 'reason(s) for invalid entries'] += (f'age under 14')
df.loc[(df['Age'] < 14) & (df['reason(s) for invalid entries'] != ''), 'reason(s) for invalid entries'] += (f', age under 14')
df

,Id,Family Id (Family),Longitude,Latitude,Snapshot Number,Age,Time Total Survey (In minutes),flagged for invalid entries,reason(s) for invalid entries,invalid latitude value,invalid longitude value,is land,invalid age value
0,211.0,18.0,-1.463423,54.929694,1.0,24.0,NaN,False,,False,False,True,False
1,212.0,21.0,-1.508881,54.965272,1.0,24.0,NaN,False,,False,False,True,False
2,213.0,22.0,-1.617649,54.979645,1.0,25.0,NaN,False,,False,False,True,False
3,214.0,23.0,-1.430876,54.974044,1.0,23.0,NaN,False,,False,False,True,False
4,215.0,24.0,-1.663523,54.970359,1.0,48.0,NaN,False,,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
657127,25760.0,NaN,NaN,NaN,2.0,80.0,NaN,True,"longitude value of nan out of range [-180, 180]",False,False,True,False
657128,25752.0,NaN,NaN,NaN,2.0,81.0,NaN,True,"longitude value of nan out of range [-180, 180]",False,False,True,False
657129,25795.0,NaN,NaN,NaN,3.0,46.0,NaN,True,"longitude value of nan out of range [-180, 180]",False,False,True,False
657130,NaN,NaN,NaN,NaN,NaN,52.0,NaN,True,"longitude value of nan out of range [-180, 180]",False,False,True,False
657131,NaN,NaN,NaN,NaN,NaN,52.0,NaN,True,"longitude value of nan out of range [-180, 180]",False,False,True,False

In [17]:
age_count_under_14 = df['invalid age value'].value_counts()[True]
age_count_total = len(df['invalid age value'].values.tolist())
print(f'number of age participants under 14 is {age_count_under_14} out of {age_count_total} total entries')
age_percentage_under_14 = round((age_count_under_14 / age_count_total) * 100, 2)
print(f'percentage of age participants under 14 is {age_percentage_under_14}% out of {age_count_total} total entries')

number of age participants under 14 is 39855 out of 657132 total entries
percentage of age participants under 14 is 6.06% out of 657132 total entries

In [18]:
df

,Id,Family Id (Family),Longitude,Latitude,Snapshot Number,Age,Time Total Survey (In minutes),flagged for invalid entries,reason(s) for invalid entries,invalid latitude value,invalid longitude value,is land,invalid age value
0,211.0,18.0,-1.463423,54.929694,1.0,24.0,NaN,False,,False,False,True,False
1,212.0,21.0,-1.508881,54.965272,1.0,24.0,NaN,False,,False,False,True,False
2,213.0,22.0,-1.617649,54.979645,1.0,25.0,NaN,False,,False,False,True,False
3,214.0,23.0,-1.430876,54.974044,1.0,23.0,NaN,False,,False,False,True,False
4,215.0,24.0,-1.663523,54.970359,1.0,48.0,NaN,False,,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
657127,25760.0,NaN,NaN,NaN,2.0,80.0,NaN,True,"longitude value of nan out of range [-180, 180]",False,False,True,False
657128,25752.0,NaN,NaN,NaN,2.0,81.0,NaN,True,"longitude value of nan out of range [-180, 180]",False,False,True,False
657129,25795.0,NaN,NaN,NaN,3.0,46.0,NaN,True,"longitude value of nan out of range [-180, 180]",False,False,True,False
657130,NaN,NaN,NaN,NaN,NaN,52.0,NaN,True,"longitude value of nan out of range [-180, 180]",False,False,True,False
657131,NaN,NaN,NaN,NaN,NaN,52.0,NaN,True,"longitude value of nan out of range [-180, 180]",False,False,True,False

In [19]:
df['invalid total time value'] = False
index = 0
while index < len(df):
    try:
        df.at[index, 'Time Total Survey (In minutes)'] = float(df.at[index, 'Time Total Survey (In minutes)'])
    except:
        total = df.at[index, 'Time Total Survey (In minutes)']
        df.at[index, 'flagged for invalid entries'] = True
        if (df.at[index, 'reason(s) for invalid entries'] == ''):
            df.at[index, 'reason(s) for invalid entries'] += (f'could not convert total time taken value of {total} to float')
        else:
            df.at[index, 'reason(s) for invalid entries'] += (f', could not convert total time taken value of {total} to float')

    index = index + 1

In [22]:
# flag surveys that took less than 20 minutes to complete

df.loc[df['Time Total Survey (In minutes)'] < 20, 'flagged for invalid entries'] = True
df['invalid total time taken to fill out survey'] = False
df.loc[df['Time Total Survey (In minutes)'] < 20, 'invalid total time taken to fill out survey'] = True
df.loc[(df['Time Total Survey (In minutes)'] < 20) & (df['reason(s) for invalid entries'] == ''), 'reason(s) for invalid entries'] += (f'total time taken to fill out survey is less than 20 minutes')
df.loc[(df['Time Total Survey (In minutes)']) < 20 & (df['reason(s) for invalid entries'] != ''), 'reason(s) for invalid entries'] += (f', total time taken to fill out survey is less than 20 minutes')

In [23]:
total_time_less_than_20_count = df['invalid total time taken to fill out survey'].value_counts()[True]
total_count = len(df['invalid total time taken to fill out survey'].values.tolist())
print(f'number of surveys with less than 20 minutes total time taken to fill out the survey is {total_time_less_than_20_count} out of {total_count} total entries')
percentage_time_less_than_20_count = round((total_time_less_than_20_count / total_count) * 100, 2)
print(f'percentage of surveys with invalid less than 20 minutes total time taken to fill out the survey is {percentage_time_less_than_20_count}% out of {total_count} total entries')

number of surveys with less than 20 minutes total time taken to fill out the survey is 78 out of 657132 total entries
percentage of surveys with invalid less than 20 minutes total time taken to fill out the survey is 0.01% out of 657132 total entries

In [24]:
# re-sort dataframe based on Id column
df.sort_values(by=['Id'], inplace=True, ignore_index=True)

In [25]:
# export all entries with the new flagged columuns into excel file
resultfilename = f'{filename} all entries flagged.xlsx'
df.to_excel(resultfilename, index=False)

In [26]:
# export rows with invalid entries into an excel file
rslt_df = df[df['flagged for invalid entries'] == True]
resultfilename = f'{filename} invalid entries only.xlsx'
rslt_df.to_excel(resultfilename, index=False)

In [27]:
# export rows with valid entries into an excel file
rslt_df = df[df['flagged for invalid entries'] == False]
rslt_df = rslt_df.drop('flagged for invalid entries', axis=1)
rslt_df = rslt_df.drop('reason(s) for invalid entries', axis=1)
resultfilename = f'{filename} valid entries only.xlsx'
rslt_df.to_excel(resultfilename, index=False)

### Database Excel file

In [28]:
# read second excel file
import pandas as pd

fields = ['Id', 'Family Id', 'Survey Number', 'Date']
filename = 'database'
df = pd.read_excel(f'{filename}.xlsx', usecols=fields)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 654463 entries, 0 to 654462
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Id             654463 non-null  int64
 1   Family Id      654416 non-null  float64
 2   Date           654463 non-null  object
 3   Survey Number  654463 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 20.0+ MB

In [30]:
df.sort_values(by=['Family Id', 'Survey Number'], inplace=True, ignore_index=True)
df

           Id  Family Id                 Date  Survey Number
0         211       18.0  2018-03-26 10:10:00              1
1         212       21.0  2018-04-09 12:13:20              1
2         213       22.0  2018-04-09 14:10:00              1
3         214       23.0  2018-04-10 08:46:40              1
4         215       24.0  2018-04-11 09:13:20              1
...       ...        ...                  ...            ...
654458  25750        NaN  2020-03-11 03:00:00              2
654459  25752        NaN  2020-03-16 03:00:00              2
654460  25760        NaN  2020-02-26 03:00:00              2
654461  25774        NaN  2020-03-11 03:00:00              2
654462  25795        NaN  2020-03-02 03:00:00              3

[654463 rows x 4 columns]

In [31]:
# add the flag column to keep track of flagged cases
# False means the survey is not flagged, and True means the survey is flagged for one of the reasons discussed in the Summary Report
df['flagged for invalid entries'] = False
df['reason(s) for invalid entries'] = ''
df

,Id,Family Id,Date,Survey Number,flagged for invalid entries,reason(s) for invalid entries
0,211,18.0,2018-03-26 10:10:00,1,False,
1,212,21.0,2018-04-09 12:13:20,1,False,
2,213,22.0,2018-04-09 14:10:00,1,False,
3,214,23.0,2018-04-10 08:46:40,1,False,
4,215,24.0,2018-04-11 09:13:20,1,False,
...,...,...,...,...,...,...
654458,25750,NaN,2020-03-11 03:00:00,2,False,
654459,25752,NaN,2020-03-16 03:00:00,2,False,
654460,25760,NaN,2020-02-26 03:00:00,2,False,
654461,25774,NaN,2020-03-11 03:00:00,2,False,
654462,25795,NaN,2020-03-02 03:00:00,3,False,

In [32]:
# flag surveys that don't have valid snapshot values
import math

df['invalid snapshot value'] = False
df['invalid family id'] = False

index = 0
if (df.at[index, 'Family Id'] == ''):
    df.at[index, 'flagged for invalid entries'] = True
    df.at[index, 'invalid snapshot value'] = True
    df.at[index, 'invalid family id'] = True
    if (df.at[index, 'reason(s) for invalid entries'] == ''):
        df.at[index, 'reason(s) for invalid entries'] += ('family id value is missing')
    else:
        df.at[index, 'reason(s) for invalid entries'] += (', family id value is missing')

elif (df.at[index, 'Survey Number'] == 1):
    df.at[index, 'flagged for invalid entries'] = False
    df.at[index, 'invalid snapshot value'] = False

else:
    df.at[index, 'flagged for invalid entries'] = True
    df.at[index, 'invalid snapshot value'] = True
    if (df.at[index, 'reason(s) for invalid entries'] == ''):
        df.at[index, 'reason(s) for invalid entries'] += ('missing snapshot value of 1')
    else:
        df.at[index, 'reason(s) for invalid entries'] += (', missing snapshot value of 1')

index = index + 1
while index < len(df):
    if (math.isnan(df.at[index, 'Family Id'])):
        df.at[index, 'flagged for invalid entries'] = True
        df.at[index, 'invalid snapshot value'] = True
        df.at[index, 'invalid family id'] = True
        if (df.at[index, 'reason(s) for invalid entries'] == ''):
            df.at[index, 'reason(s) for invalid entries'] += ('family id value is missing')
        else:
            df.at[index, 'reason(s) for invalid entries'] += (', family id value is missing')

    else:
        if (df.at[index, 'Family Id'] == df.at[index - 1, 'Family Id']):
            
            if (df.at[index, 'Survey Number'] == (df.at[index - 1, 'Survey Number'] + 1)):
                df.at[index, 'flagged for invalid entries'] = False
                df.at[index, 'invalid snapshot value'] = False
            
            else:
                df.at[index, 'flagged for invalid entries'] = True
                df.at[index, 'invalid snapshot value'] = True
                previous_snapshot_id = df.at[index - 1, 'Id']
                if (df.at[index, 'Survey Number'] == (df.at[index - 1, 'Survey Number'])):
                    duplicated_snapshot_value = df.at[index, 'Survey Number']
                    if (df.at[index, 'reason(s) for invalid entries'] == ''):
                        df.at[index, 'reason(s) for invalid entries'] += (f'duplicated snapshot value of {duplicated_snapshot_value} with snapshot Id {previous_snapshot_id}')
                    else:
                        df.at[index, 'reason(s) for invalid entries'] += (f', duplicated snapshot value of {duplicated_snapshot_value} with snapshot Id {previous_snapshot_id}')
                
                if (df.at[index, 'Survey Number'] > (df.at[index - 1, 'Survey Number'] + 1)):
                    missing_snapshot_value = df.at[index, 'Survey Number'] + 1
                    if (df.at[index, 'reason(s) for invalid entries'] == ''):
                        df.at[index, 'reason(s) for invalid entries'] += (f'missing snapshot value of {missing_snapshot_value} after snapshot Id {previous_snapshot_id}')
                    else:
                        df.at[index, 'reason(s) for invalid entries'] += (f', missing snapshot value of {missing_snapshot_value} after snapshot Id {previous_snapshot_id}')
        
        else:
            
            if (df.at[index, 'Survey Number'] == 1):
                df.at[index, 'flagged for invalid entries'] = False
                df.at[index, 'invalid snapshot value'] = False
            
            else:
                df.at[index, 'flagged for invalid entries'] = True
                df.at[index, 'invalid snapshot value'] = True
                if (df.at[index, 'reason(s) for invalid entries'] == ''):
                    df.at[index, 'reason(s) for invalid entries'] += ('missing snapshot value of 1')
                else:
                    df.at[index, 'reason(s) for invalid entries'] += (', missing snapshot value of 1')
    index = index + 1

In [33]:
df

,Id,Family Id,Date,Survey Number,flagged for invalid entries,reason(s) for invalid entries,invalid snapshot value,invalid family id
0,211,18.0,2018-03-26 10:10:00,1,False,,False,False
1,212,21.0,2018-04-09 12:13:20,1,False,,False,False
2,213,22.0,2018-04-09 14:10:00,1,False,,False,False
3,214,23.0,2018-04-10 08:46:40,1,False,,False,False
4,215,24.0,2018-04-11 09:13:20,1,False,,False,False
...,...,...,...,...,...,...,...,...
654458,25750,NaN,2020-03-11 03:00:00,2,True,family id value is missing,True,True
654459,25752,NaN,2020-03-16 03:00:00,2,True,family id value is missing,True,True
654460,25760,NaN,2020-02-26 03:00:00,2,True,family id value is missing,True,True
654461,25774,NaN,2020-03-11 03:00:00,2,True,family id value is missing,True,True
654462,25795,NaN,2020-03-02 03:00:00,3,True,family id value is missing,True,True

In [34]:
# calculate the number of invalid snapshot values because a snapshot value is either missing, duplicated, or a family id is missing
invalid_snapshot_value_count = df['invalid snapshot value'].value_counts()[True]
total_snapshot_values = len(df['invalid snapshot value'].values.tolist())
invalid_snapshot_value_percentage = round((invalid_snapshot_value_count/total_snapshot_values) * 100, 2)

print(f'number of invalid snapshot values because of either a missing a snapshot value, duplicated snapshot value, or a missing family id is\n{invalid_snapshot_value_count} out of {total_snapshot_values} total entries')
print(f'percentage of invalid snapshot values because of either a missing a snapshot value, duplicated snapshot value, or a missing family id is\n{invalid_snapshot_value_percentage}% out of {total_snapshot_values} total entries')

invalid_snapshot_value_count = df['invalid snapshot value'].value_counts()[True]
total_snapshot_values = len(df['invalid snapshot value'].values.tolist())
invalid_snapshot_value_percentage = round((invalid_snapshot_value_count/total_snapshot_values) * 100, 2)

family_id_nan_count = df['Family Id'].isna().sum()
family_id_nan_percentage = round((invalid_snapshot_value_count/total_snapshot_values) * 100, 2)
print(f'number of missing family ids is {family_id_nan_count} out of {total_snapshot_values} total entries')
print(f'percentage of missing family ids is {family_id_nan_percentage}% out of {total_snapshot_values} total entries')

number of invalid snapshot values because of either a missing a snapshot value, duplicated snapshot value, or a missing family id is
1492 out of 654463 total entries
percentage of invalid snapshot values because of either a missing a snapshot value, duplicated snapshot value, or a missing family id is
0.23% out of 654463 total entries
number of missing family ids is 47 out of 654463 total entries
percentage of missing family ids is 0.23% out of 654463 total entries

In [35]:
import pandas as pd

# filter out rows we don't need
valid_df = df[(df['Survey Number'].notna()) & (~df['flagged for invalid entries'])]
valid_df.reset_index(inplace=True)
print(valid_df)

# group by 'Family Id' and get the last and second-to-last rows for each group
grouped = valid_df.groupby('Family Id')
last = grouped.last()
last = last[(last['Survey Number'] >= 2)]
print(len(last))
penultimate = grouped.nth(-2)
print(len(penultimate))

         index      Id  Family Id                 Date  Survey Number  \
0            0     211       18.0  2018-03-26 10:10:00              1
1            1     212       21.0  2018-04-09 12:13:20              1
2            2     213       22.0  2018-04-09 14:10:00              1
3            3     214       23.0  2018-04-10 08:46:40              1
4            4     215       24.0  2018-04-11 09:13:20              1
...        ...     ...        ...                  ...            ...
652966  654411  703908   516048.0  2024-09-04 13:55:50              1
652967  654412  703909   516049.0  2024-09-04 14:05:39              1
652968  654413  703916   516050.0  2024-09-04 14:40:16              1
652969  654414  703923   516051.0  2024-09-04 14:21:31              1
652970  654415  703924   516052.0  2024-09-04 13:57:55              1

        flagged for invalid entries reason(s) for invalid entries  \
0                             False
1                             False
2                             False
3                             False
4                             False
...                             ...                           ...
652966                        False
652967                        False
652968                        False
652969                        False
652970                        False

        invalid snapshot value  invalid family id
0                        False              False
1                        False              False
2                        False              False
3                        False              False
4                        False              False
...                        ...                ...
652966                   False              False
652967                   False              False
652968                   False              False
652969                   False              False
652970                   False              False

[652971 rows x 9 columns]
144248
144248

In [36]:
last.reset_index(inplace=True)
penultimate.reset_index(inplace=True)

print('the last survey dataframe')
print(last)
print('the penultmate survey dataframe')
print(penultimate)

the last survey dataframe
        Family Id   index      Id                 Date  Survey Number  \
0            33.0      11     245  2018-04-24 09:43:20              2
1            88.0      56    1202  2018-06-26 12:10:00              2
2            93.0      61     265  2018-09-10 09:16:40              2
3           151.0     112    3409  2019-07-02 11:21:24              2
4           166.0     127   30396  2021-03-10 13:14:20              3
...           ...     ...     ...                  ...            ...
144243   515989.0  654347  703814  2024-09-04 12:35:06              2
144244   515995.0  654355  703796  2024-09-04 12:20:44              3
144245   515998.0  654359  703823  2024-09-04 12:49:30              2
144246   516002.0  654364  703811  2024-09-04 12:29:35              2
144247   516040.0  654403  703911  2024-09-04 14:14:49              2

        flagged for invalid entries reason(s) for invalid entries  \
0                             False
1                             False
2                             False
3                             False
4                             False
...                             ...                           ...
144243                        False
144244                        False
144245                        False
144246                        False
144247                        False

        invalid snapshot value  invalid family id
0                        False              False
1                        False              False
2                        False              False
3                        False              False
4                        False              False
...                        ...                ...
144243                   False              False
144244                   False              False
144245                   False              False
144246                   False              False
144247                   False              False

[144248 rows x 9 columns]
the penultmate survey dataframe
        level_0   index      Id  Family Id                 Date  \
0            10      10     244       33.0  2018-06-27 09:00:00
1            55      55    1201       88.0  2019-02-06 13:33:20
2            60      60     264       93.0  2018-07-02 10:06:40
3           111     111     304      151.0  2018-07-25 14:13:20
4           126     126   10811      166.0  2020-02-26 13:08:11
...         ...     ...     ...        ...                  ...
144243   652901  654346  703782   515989.0  2024-09-04 11:59:48
144244   652909  654354  703793   515995.0  2024-09-04 12:16:42
144245   652913  654358  703795   515998.0  2024-09-04 12:10:12
144246   652918  654363  703800   516002.0  2024-09-04 12:11:08
144247   652957  654402  703881   516040.0  2024-09-04 14:17:43

        Survey Number  flagged for invalid entries  \
0                   1                        False
1                   1                        False
2                   1                        False
3                   1                        False
4                   2                        False
...               ...                          ...
144243              1                        False
144244              2                        False
144245              1                        False
144246              1                        False
144247              1                        False

       reason(s) for invalid entries  invalid snapshot value  \
0                                                      False
1                                                      False
2                                                      False
3                                                      False
4                                                      False
...                              ...                     ...
144243                                                 False
144244                                                 False
144245                                                 False
144246                                                 False
144247                                                 False

        invalid family id
0                   False
1                   False
2                   False
3                   False
4                   False
...                   ...
144243              False
144244              False
144245              False
144246              False
144247              False

[144248 rows x 10 columns]

In [37]:
# calculate time difference between baseline survey and follow-up one and flag the ones with less than 3 months time in difference for the same person
import numpy as np
pd.options.mode.chained_assignment = None

df['invalid date value'] = False
df['Date'] = pd.to_datetime(df['Date'])
last['Date'] = pd.to_datetime(last['Date'])
penultimate['Date'] = pd.to_datetime(penultimate['Date'])

last_family_ids = last['Family Id'].values.tolist()
penultimate_family_ids = penultimate['Family Id'].values.tolist()

In [38]:
index = 0
total_time_difference_in_weeks = 0

while ((index < len(last)) and (index < len(penultimate))):
    if (last.at[index, 'Family Id'] == penultimate.at[index, 'Family Id']):
        last_date = last.at[index, 'Date']
        penultimate_date = penultimate.at[index, 'Date']
        time_difference = last_date - penultimate_date
        time_difference = time_difference / np.timedelta64(1, 'W')
        total_time_difference_in_weeks += time_difference
        if (time_difference < 12):
            original_index = last.at[index, 'index']
            df.at[original_index, 'invalid date value'] = True
            df.at[original_index, 'flagged for invalid entries'] = True
            if (df.at[index, 'reason(s) for invalid entries'] == ''):
                df.at[original_index, 'reason(s) for invalid entries'] += ('follow-up survey taken in less than 3 months')
            else:
                df.at[original_index, 'reason(s) for invalid entries'] += (', follow-up survey taken in less than 3 months')
    index = index + 1

In [39]:
# calculate how many families have had follow-up surveys in less than 3 months
family_count_with_follow_ups = len(last['Family Id'].values.tolist())
invalid_date_value_count = df['invalid date value'].value_counts()[True]
print(f'the number of families that had taken a follow-up survey within less than three months is {invalid_date_value_count} out of {family_count_with_follow_ups} total families with follow-up surveys')
invalid_date_value_percentage = round((invalid_date_value_count / family_count_with_follow_ups) * 100, 2)
print(f'the percentage of families that had taken a follow-up survey within less than three months is {invalid_date_value_percentage}% out of {family_count_with_follow_ups} total families with follow-up surveys')

the number of families that had taken a follow-up survey within less than three months is 16632 out of 144248 total families with follow-up surveys
the percentage of families that had taken a follow-up survey within less than three months is 11.53% out of 144248 total families with follow-up surveys

In [40]:
# what is the average time between the baseline survey and the follow-up survey
family_count_with_follow_ups = len(last['Family Id'].values.tolist())
average = round(total_time_difference_in_weeks/4/family_count_with_follow_ups, 2)
print(f'the average time between the baseline survey and the follow-up survey is {average} months')

the average time between the baseline survey and the follow-up survey is 11.45 months

In [41]:
# re-sort dataframe based on Id column
df.sort_values(by=['Id'], inplace=True, ignore_index=True)

In [42]:
# export all entries with the new flagged columuns into excel file
resultfilename = f'{filename} all entries flagged.xlsx'
df.to_excel(resultfilename, index=False)

In [43]:
# export rows with invalid entries into an excel file
rslt_df = df[df['flagged for invalid entries'] == True]
resultfilename = f'{filename} invalid entries only.xlsx'
rslt_df.to_excel(resultfilename, index=False)

In [44]:
# export rows with valid entries into an excel file
rslt_df = df[df['flagged for invalid entries'] == False]
rslt_df = rslt_df.drop('flagged for invalid entries', axis=1)
rslt_df = rslt_df.drop('reason(s) for invalid entries', axis=1)
resultfilename = f'{filename} valid entries only.xlsx'
rslt_df.to_excel(resultfilename, index=False)

### Database - Indicators Excel file

In [45]:
# additional analysis questions
# read indicators excel file
import pandas as pd

fields = ['Snapshot Id', 'Family Id', 'Survey Number', 'Survey Title', 'Stoplight Codename', 'Stoplight Value']
filename = 'database - indicators'
df = pd.read_excel(f'{filename}.xlsx', usecols=fields)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678811 entries, 0 to 678810
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Snapshot Id         678811 non-null  int64
 1   Family Id           678811 non-null  int64
 2   Survey Title        678811 non-null  object
 3   Stoplight Codename  678811 non-null  object
 4   Stoplight Value     678811 non-null  int64
 5   Survey Number       678811 non-null  int64
dtypes: int64(4), object(2)
memory usage: 31.1+ MB

In [47]:
df.sort_values(by=['Family Id', 'Stoplight Codename', 'Survey Number'], ascending = [True, True, False], inplace=True, ignore_index=True)
df

,Snapshot Id,Family Id,Survey Title,Stoplight Codename,Stoplight Value,Survey Number
0,1202,88,United Kingdom - Signal,abilityToSolveProblemsAndConflicts,3,2
1,1201,88,United Kingdom - Signal,abilityToSolveProblemsAndConflicts,3,1
2,1202,88,United Kingdom - Signal,accessInformation,3,2
3,1201,88,United Kingdom - Signal,accessInformation,3,1
4,1202,88,United Kingdom - Signal,accessToCredit,3,2
...,...,...,...,...,...,...
678806,611587,438771,Red de Empresas del SemÃ¡foro v3,supportNetwork,3,1
678807,611629,438771,Red de Empresas del SemÃ¡foro v3,unpollutedEnvironment,3,2
678808,611587,438771,Red de Empresas del SemÃ¡foro v3,unpollutedEnvironment,3,1
678809,611629,438771,Red de Empresas del SemÃ¡foro v3,vaccinations,3,2
678810,611587,438771,Red de Empresas del SemÃ¡foro v3,vaccinations,3,1

In [48]:
# how many families have transitioned from yellow to green or from red to green per indicator
indicators = df['Stoplight Codename'].unique().tolist()
print(', '.join(indicators))

abilityToSolveProblemsAndConflicts, accessInformation, accessToCredit, accessToEntertainment, accessToHealthServices, accessToShopsAndServices, alimentation, autonomyDecisions, awarenessOfHumanRights, awarenessOfNeeds, capacityToPlanAndBudget, clothingAndFootwear, comfortOfTheHome, culturalTraditionsAndHeritage, dentalCare, diversifiedSourcesOfIncome, documentation, electricityAccess, emotionalIntelligence, entrepreneurialSpirit, eyesight, familySavings, garbageDisposal, groupActivities, householdViolence, income, influenceInPublicSector, insurance, knowledgeAndSkillsToGenerateIncome, middleEducation, moralConscience, personalHygiene, phone, properKitchen, readAndWrite, refrigerator, registeredToVoteAndVotesInElections, regularMeansOfTransportation, regularityOfMeals, respectForDiversity, safeBathroom, safeHouse, safety, schoolSuppliesAndBooks, selfEsteem, selfExpression, separateBedrooms, sexualHealth, socialCapital, stableHousing, stableIncome, unpollutedEnvironment, vaccinations, willingnessDesireToDevelopSkillsAndKnowledge, childLabor, drinkingWaterAccess, road, safetyFromFloods, securityOfProperty, addictions, ageEducation, childrenEducation, floor, formalEmployment, healthcareInfancy, unemployment, wall, covid_choresDistribution, covid_contingencyFunds, covid_emotionalWellbeing, covid_homeEducation, covid_homeRutine, covid_homeSupport, covid_hygiene, covid_incomeSkills, covid_internet, covid_isolation, covid_medicalAttention, covid_nutrition, covid_stableHouse, covid_supportNetwork, covid_technology, addiction, debts, healthControl, mentalHealth, nearbyHealthPost, physicalActivity, supportNetwork, accessToInternet, domesticFertilizer, domesticWaterConsumption, energySavings, knowledgeOfClimateChange, lowerEnergyItems, plasticUsageReduction, promotesEnvironment, protectionEnvironment, recycling, reusesResidues, sustainableTransportation, vegetableGarden, wasteSeparation, waterConsumptionPatterns, employeeReadiness, accessToMentalHealthServices, accessToMentors, accessToRights, bodyAutonomy, culturalFreedom, debt, dentalAndEyesightCare, emotionalSelfCare, familyPositiveBelonging, feelingOfWorthiness, financialCompetence, foodAccess, freedomAndHelpFromAbuse, freedomOfExpression, governmentBenefits, growthMindset, healthyLifestyle, helpingOthers, hopeInOpportunities, rightsAndProtectionsKnowledge, safeLifestyle, safeOpportunities, safeWorkEnvironment, selfAcceptance, skillsForSuccess, socialPositiveBelonging, spiritualWellbeing, trust, wellbeingForThoseICareFor,  freedomFromSexualExploitation, childrenRecovery, individualizingTraits, civicEngagement

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678811 entries, 0 to 678810
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Snapshot Id         678811 non-null  int64
 1   Family Id           678811 non-null  int64
 2   Survey Title        678811 non-null  object
 3   Stoplight Codename  678811 non-null  object
 4   Stoplight Value     678811 non-null  int64
 5   Survey Number       678811 non-null  int64
dtypes: int64(4), object(2)
memory usage: 31.1+ MB

In [50]:
# find last and penultimate survey taken for those families that took at least one follow-up survey
last_survey_number = pd.Series()
penultimate_survey_number = pd.Series()

index = 0
curr_family_id = df.at[index, 'Family Id']
curr_survey_number = df.at[index, 'Survey Number']
if (curr_survey_number >= 2):
    last_survey_number[curr_family_id] = curr_survey_number

prev_family_id = curr_family_id
prev_survey_number = curr_survey_number
index = index + 1

while (index < len(df)):
    curr_family_id = df.at[index, 'Family Id']
    curr_survey_number = df.at[index, 'Survey Number']

    if (curr_family_id == prev_family_id):
        if ((curr_survey_number < prev_survey_number) and (curr_family_id not in penultimate_survey_number)):
            penultimate_survey_number[curr_family_id] = curr_survey_number
    
    elif (curr_survey_number >= 2):
        last_survey_number[curr_family_id] = curr_survey_number

    prev_family_id = curr_family_id
    prev_survey_number = curr_survey_number
    index = index + 1

In [51]:
# find last survey indices for each indicator taken for each family
last_survey_index = pd.Series()
penultimate_survey_index = pd.Series()

index = 0
curr_family_id = int(df.at[index, 'Family Id'])
curr_survey_number = int(df.at[index, 'Survey Number'])
if (curr_survey_number == last_survey_number[curr_family_id]):
    last_survey_index[curr_family_id] = pd.Series()
    last_survey_index[curr_family_id][df.at[index, 'Stoplight Codename']] = index

prev_family_id = curr_family_id
prev_survey_number = curr_survey_number
index = index + 1

while (index < len(df)):
    curr_family_id = int(df.at[index, 'Family Id'])
    curr_survey_number = int(df.at[index, 'Survey Number'])

    if (curr_family_id in last_survey_number):
        if (curr_survey_number == last_survey_number[curr_family_id]):
            stoplight_codename = df.at[index, 'Stoplight Codename']
            if (curr_family_id in last_survey_index):
                last_survey_index[curr_family_id][stoplight_codename] = index
            else:
                last_survey_index[curr_family_id] = pd.Series()
                last_survey_index[curr_family_id][stoplight_codename] = index

        elif (curr_survey_number == penultimate_survey_number[curr_family_id]):
            stoplight_codename = df.at[index, 'Stoplight Codename']
            if (curr_family_id in penultimate_survey_index):
                penultimate_survey_index[curr_family_id][stoplight_codename] = index
            else:
                penultimate_survey_index[curr_family_id] = pd.Series()
                penultimate_survey_index[curr_family_id][stoplight_codename] = index

        prev_family_id = curr_family_id
        prev_survey_number = curr_survey_number
    index = index + 1

In [52]:
# calculate the number of transitions per indicator
indicator_transition_yellow_to_green = pd.Series()
indicator_transition_red_to_green = pd.Series()

family_ids = df['Family Id'].unique().tolist()
for family_id in family_ids:
    if ((family_id is not None) and (family_id in last_survey_number)):
        for indicator in indicators:
            if ((indicator in last_survey_index[family_id]) and (indicator in penultimate_survey_index[family_id])):
                last_indicator_value = df.at[last_survey_index[family_id][indicator], 'Stoplight Value']
                penultimate_indicator_value = df.at[penultimate_survey_index[family_id][indicator], 'Stoplight Value']

                if (penultimate_indicator_value is not None) and (last_indicator_value is not None):
                    transition = last_indicator_value - penultimate_indicator_value
                    if (transition == 2):
                        if (indicator in indicator_transition_red_to_green):
                            indicator_transition_red_to_green[indicator] += 1
                        else:
                            indicator_transition_red_to_green[indicator] = 1
                    
                    elif (transition == 1 and last_indicator_value == 3):
                        if (indicator in indicator_transition_yellow_to_green):
                            indicator_transition_yellow_to_green[indicator] += 1
                        else:
                            indicator_transition_yellow_to_green[indicator] = 1

In [53]:
# print number of families that transitioned from yellow to green per indicator
total_num_of_families = len(family_ids)
print(f'number of familie that took at least one follow-up survey out of {total_num_of_families} and transitioned from yellow to green per indicator are:')
for indicator, count in indicator_transition_yellow_to_green.items():
    print(f'    indicator {indicator} had {count} transitions')

number of familie that took at least one follow-up survey out of 6321 and transitioned from yellow to green per indicator are:
    indicator capacityToPlanAndBudget had 1198 transitions
    indicator diversifiedSourcesOfIncome had 607 transitions
    indicator entrepreneurialSpirit had 697 transitions
    indicator registeredToVoteAndVotesInElections had 444 transitions
    indicator accessToCredit had 358 transitions
    indicator accessToHealthServices had 319 transitions
    indicator autonomyDecisions had 525 transitions
    indicator awarenessOfHumanRights had 142 transitions
    indicator clothingAndFootwear had 362 transitions
    indicator phone had 428 transitions
    indicator properKitchen had 317 transitions
    indicator regularMeansOfTransportation had 445 transitions
    indicator safety had 415 transitions
    indicator accessInformation had 233 transitions
    indicator documentation had 166 transitions
    indicator influenceInPublicSector had 529 transitions
    indicator vaccinations had 307 transitions
    indicator abilityToSolveProblemsAndConflicts had 415 transitions
    indicator selfEsteem had 582 transitions
    indicator selfExpression had 73 transitions
    indicator alimentation had 561 transitions
    indicator awarenessOfNeeds had 956 transitions
    indicator electricityAccess had 258 transitions
    indicator garbageDisposal had 349 transitions
    indicator householdViolence had 141 transitions
    indicator middleEducation had 208 transitions
    indicator readAndWrite had 285 transitions
    indicator regularityOfMeals had 50 transitions
    indicator unpollutedEnvironment had 622 transitions
    indicator willingnessDesireToDevelopSkillsAndKnowledge had 90 transitions
    indicator accessToShopsAndServices had 35 transitions
    indicator culturalTraditionsAndHeritage had 80 transitions
    indicator income had 611 transitions
    indicator moralConscience had 326 transitions
    indicator refrigerator had 405 transitions
    indicator respectForDiversity had 125 transitions
    indicator safeHouse had 307 transitions
    indicator sexualHealth had 354 transitions
    indicator accessToEntertainment had 1000 transitions
    indicator knowledgeAndSkillsToGenerateIncome had 708 transitions
    indicator stableIncome had 68 transitions
    indicator familySavings had 340 transitions
    indicator dentalCare had 510 transitions
    indicator groupActivities had 56 transitions
    indicator eyesight had 437 transitions
    indicator personalHygiene had 211 transitions
    indicator safeBathroom had 348 transitions
    indicator schoolSuppliesAndBooks had 206 transitions
    indicator stableHousing had 63 transitions
    indicator socialCapital had 896 transitions
    indicator emotionalIntelligence had 493 transitions
    indicator insurance had 457 transitions
    indicator safetyFromFloods had 12 transitions
    indicator securityOfProperty had 365 transitions
    indicator comfortOfTheHome had 322 transitions
    indicator separateBedrooms had 500 transitions
    indicator childLabor had 102 transitions
    indicator drinkingWaterAccess had 125 transitions
    indicator floor had 50 transitions
    indicator ageEducation had 32 transitions
    indicator formalEmployment had 38 transitions
    indicator unemployment had 37 transitions
    indicator wall had 14 transitions
    indicator addictions had 25 transitions
    indicator childrenEducation had 8 transitions
    indicator healthcareInfancy had 8 transitions
    indicator debts had 246 transitions
    indicator road had 309 transitions
    indicator nearbyHealthPost had 258 transitions
    indicator covid_incomeSkills had 32 transitions
    indicator covid_internet had 33 transitions
    indicator covid_isolation had 31 transitions
    indicator covid_medicalAttention had 10 transitions
    indicator covid_nutrition had 3 transitions
    indicator covid_homeRutine had 15 transitions
    indicator covid_supportNetwork had 9 transitions
    indicator covid_contingencyFunds had 22 transitions
    indicator covid_technology had 97 transitions
    indicator covid_choresDistribution had 10 transitions
    indicator covid_stableHouse had 4 transitions
    indicator covid_homeSupport had 11 transitions
    indicator covid_emotionalWellbeing had 8 transitions
    indicator covid_homeEducation had 53 transitions
    indicator domesticFertilizer had 4 transitions
    indicator knowledgeOfClimateChange had 9 transitions
    indicator plasticUsageReduction had 10 transitions
    indicator recycling had 11 transitions
    indicator reusesResidues had 5 transitions
    indicator sustainableTransportation had 8 transitions
    indicator energySavings had 8 transitions
    indicator waterConsumptionPatterns had 10 transitions
    indicator domesticWaterConsumption had 11 transitions
    indicator lowerEnergyItems had 10 transitions
    indicator promotesEnvironment had 4 transitions
    indicator accessToInternet had 73 transitions
    indicator growthMindset had 18 transitions
    indicator hopeInOpportunities had 25 transitions
    indicator familyPositiveBelonging had 20 transitions
    indicator safeOpportunities had 38 transitions
    indicator foodAccess had 31 transitions
    indicator emotionalSelfCare had 41 transitions
    indicator feelingOfWorthiness had 31 transitions
    indicator selfAcceptance had 38 transitions
    indicator debt had 21 transitions
    indicator helpingOthers had 30 transitions
    indicator rightsAndProtectionsKnowledge had 18 transitions
    indicator supportNetwork had 27 transitions
    indicator accessToRights had 25 transitions
    indicator dentalAndEyesightCare had 30 transitions
    indicator governmentBenefits had 38 transitions
    indicator safeWorkEnvironment had 11 transitions
    indicator skillsForSuccess had 32 transitions
    indicator socialPositiveBelonging had 34 transitions
    indicator accessToMentalHealthServices had 15 transitions
    indicator accessToMentors had 22 transitions
    indicator culturalFreedom had 33 transitions
    indicator wellbeingForThoseICareFor had 15 transitions
    indicator financialCompetence had 23 transitions
    indicator healthyLifestyle had 39 transitions
    indicator trust had 26 transitions
    indicator safeLifestyle had 23 transitions
    indicator bodyAutonomy had 19 transitions
    indicator freedomOfExpression had 30 transitions
    indicator spiritualWellbeing had 18 transitions
    indicator freedomAndHelpFromAbuse had 11 transitions
    indicator civicEngagement had 2 transitions
    indicator  freedomFromSexualExploitation had 1 transitions

In [54]:
# print number of families that transitioned from red to green per indicator
total_num_of_families = len(family_ids)
print(f'number of familie that took at least one follow-up survey out of {total_num_of_families} and transitioned from red to green per indicator are:')
for indicator, count in indicator_transition_red_to_green.items():
    print(f'    indicator {indicator} had {count} transition(s)')

number of familie that took at least one follow-up survey out of 6321 and transitioned from red to green per indicator are:
    indicator personalHygiene had 38 transition(s)
    indicator vaccinations had 74 transition(s)
    indicator stableIncome had 40 transition(s)
    indicator abilityToSolveProblemsAndConflicts had 69 transition(s)
    indicator accessToEntertainment had 362 transition(s)
    indicator accessToHealthServices had 31 transition(s)
    indicator autonomyDecisions had 76 transition(s)
    indicator awarenessOfHumanRights had 35 transition(s)
    indicator awarenessOfNeeds had 196 transition(s)
    indicator capacityToPlanAndBudget had 643 transition(s)
    indicator clothingAndFootwear had 54 transition(s)
    indicator comfortOfTheHome had 67 transition(s)
    indicator culturalTraditionsAndHeritage had 22 transition(s)
    indicator dentalCare had 220 transition(s)
    indicator documentation had 63 transition(s)
    indicator electricityAccess had 31 transition(s)
    indicator emotionalIntelligence had 57 transition(s)
    indicator entrepreneurialSpirit had 103 transition(s)
    indicator eyesight had 148 transition(s)
    indicator familySavings had 314 transition(s)
    indicator garbageDisposal had 265 transition(s)
    indicator insurance had 290 transition(s)
    indicator knowledgeAndSkillsToGenerateIncome had 197 transition(s)
    indicator middleEducation had 63 transition(s)
    indicator readAndWrite had 87 transition(s)
    indicator regularMeansOfTransportation had 88 transition(s)
    indicator regularityOfMeals had 17 transition(s)
    indicator respectForDiversity had 17 transition(s)
    indicator safeBathroom had 92 transition(s)
    indicator safeHouse had 67 transition(s)
    indicator safety had 67 transition(s)
    indicator schoolSuppliesAndBooks had 48 transition(s)
    indicator selfEsteem had 57 transition(s)
    indicator selfExpression had 16 transition(s)
    indicator separateBedrooms had 165 transition(s)
    indicator stableHousing had 21 transition(s)
    indicator unpollutedEnvironment had 119 transition(s)
    indicator willingnessDesireToDevelopSkillsAndKnowledge had 6 transition(s)
    indicator influenceInPublicSector had 249 transition(s)
    indicator moralConscience had 73 transition(s)
    indicator income had 168 transition(s)
    indicator groupActivities had 42 transition(s)
    indicator socialCapital had 391 transition(s)
    indicator accessInformation had 130 transition(s)
    indicator accessToCredit had 318 transition(s)
    indicator accessToShopsAndServices had 15 transition(s)
    indicator alimentation had 102 transition(s)
    indicator diversifiedSourcesOfIncome had 344 transition(s)
    indicator householdViolence had 40 transition(s)
    indicator phone had 112 transition(s)
    indicator properKitchen had 136 transition(s)
    indicator refrigerator had 117 transition(s)
    indicator registeredToVoteAndVotesInElections had 105 transition(s)
    indicator sexualHealth had 80 transition(s)
    indicator safetyFromFloods had 7 transition(s)
    indicator securityOfProperty had 94 transition(s)
    indicator road had 73 transition(s)
    indicator drinkingWaterAccess had 27 transition(s)
    indicator healthcareInfancy had 8 transition(s)
    indicator childrenEducation had 4 transition(s)
    indicator formalEmployment had 19 transition(s)
    indicator unemployment had 11 transition(s)
    indicator ageEducation had 3 transition(s)
    indicator addictions had 9 transition(s)
    indicator physicalActivity had 2 transition(s)
    indicator childLabor had 38 transition(s)
    indicator nearbyHealthPost had 56 transition(s)
    indicator debts had 139 transition(s)
    indicator covid_contingencyFunds had 5 transition(s)
    indicator covid_homeRutine had 2 transition(s)
    indicator covid_homeEducation had 6 transition(s)
    indicator covid_emotionalWellbeing had 1 transition(s)
    indicator covid_incomeSkills had 4 transition(s)
    indicator covid_isolation had 1 transition(s)
    indicator covid_medicalAttention had 2 transition(s)
    indicator covid_supportNetwork had 1 transition(s)
    indicator covid_choresDistribution had 2 transition(s)
    indicator recycling had 4 transition(s)
    indicator waterConsumptionPatterns had 6 transition(s)
    indicator plasticUsageReduction had 4 transition(s)
    indicator domesticFertilizer had 7 transition(s)
    indicator promotesEnvironment had 2 transition(s)
    indicator reusesResidues had 6 transition(s)
    indicator knowledgeOfClimateChange had 2 transition(s)
    indicator lowerEnergyItems had 3 transition(s)
    indicator employeeReadiness had 4 transition(s)
    indicator covid_technology had 1 transition(s)
    indicator accessToInternet had 2 transition(s)
    indicator addiction had 1 transition(s)
    indicator debt had 4 transition(s)
    indicator freedomAndHelpFromAbuse had 4 transition(s)
    indicator freedomOfExpression had 5 transition(s)
    indicator wall had 1 transition(s)
    indicator helpingOthers had 3 transition(s)
    indicator safeWorkEnvironment had 6 transition(s)
    indicator socialPositiveBelonging had 4 transition(s)
    indicator rightsAndProtectionsKnowledge had 2 transition(s)
    indicator accessToMentors had 4 transition(s)
    indicator emotionalSelfCare had 3 transition(s)
    indicator growthMindset had 4 transition(s)
    indicator healthyLifestyle had 1 transition(s)
    indicator safeLifestyle had 1 transition(s)
    indicator skillsForSuccess had 4 transition(s)
    indicator trust had 7 transition(s)
    indicator safeOpportunities had 4 transition(s)
    indicator governmentBenefits had 4 transition(s)
    indicator foodAccess had 2 transition(s)
    indicator financialCompetence had 7 transition(s)
    indicator dentalAndEyesightCare had 6 transition(s)
    indicator accessToMentalHealthServices had 6 transition(s)
    indicator feelingOfWorthiness had 2 transition(s)
    indicator wellbeingForThoseICareFor had 4 transition(s)
    indicator supportNetwork had 5 transition(s)
    indicator familyPositiveBelonging had 3 transition(s)
    indicator hopeInOpportunities had 1 transition(s)
    indicator selfAcceptance had 4 transition(s)
    indicator spiritualWellbeing had 3 transition(s)
    indicator culturalFreedom had 1 transition(s)
    indicator accessToRights had 2 transition(s)
    indicator  freedomFromSexualExploitation had 1 transition(s)

In [55]:
# which indicator had the most favorable changes from yellow to green
max_count = None
max_indicator = None

total_num_of_families = len(family_ids)
for indicator, count in indicator_transition_yellow_to_green.items():
    if max_count is None:
        max_count = count
        max_indicator = indicator
    elif max_count < count:
        max_count = count
        max_indicator = indicator

print(f'the indicator that had the most favorable changes from yellow to green is {max_indicator} with {max_count} transitions out of {total_num_of_families} total number of families who took at least one follow-up survey')

the indicator that had the most favorable changes from yellow to green is capacityToPlanAndBudget with 1198 transitions out of 6321 total number of families who took at least one follow-up survey

In [56]:
# which indicator had the most favorable changes from red to green
max_count = None
max_indicator = None

total_num_of_families = len(family_ids)
for indicator, count in indicator_transition_red_to_green.items():
    if max_count is None:
        max_count = count
        max_indicator = indicator
    elif max_count < count:
        max_count = count
        max_indicator = indicator

print(f'the indicator that had the most favorable changes from red to green is {max_indicator} with {max_count} transitions out of {total_num_of_families} total number of families who took at least one follow-up survey')

the indicator that had the most favorable changes from red to green is capacityToPlanAndBudget with 643 transitions out of 6321 total number of families who took at least one follow-up survey